.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  background-color: #f8f9fa;
  width: 100%;
  background-color: green;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
